// secrets.h.template
// Copy this file to 'secrets.h' and fill in your actual credentials.
// 'secrets.h' should NOT be committed to version control.

#ifndef SECRETS_H
#define SECRETS_H

const char* ssid = "<YOUR WIFI SSID>";        // Enter your WiFi name
const char* password =  "<YOUR WIFI PWD>";    // Enter WiFi password
const char* mqttServer = "<MQTT IP>"; 		// MQTT host IP
const int mqttPort = 1883;             // MQTT TCP port (default is 1883)
const char* mqttUser = "<MQTT USER>";         // MQTT username
const char* mqttPassword = "<MQTT PWD>";     	// MQTT password
const char* ESP_DEVICE_NAME = "vmc_letto"; // Unique name for this VMC (e.g., vmc_kitchen, vmc_bedroom)

#endif // SECRETS_H
